// Core Colours
$text:                        #000;
$wtext:                       #FFF;
$bgTop:                       #073ED9;
$headerBgColour:              #0CACFE;
$bgBottom:                    #02E9FB;
$dataBg:                      #EFEFF4;

//Fonts
$textBold: LatoBold;
$textMedium: LatoMedium;
$text: Lato;
$textLight: LatoLight;
$textThin: LatoThin;
$textHair: LatoHairline;

//Header
$headerHeight: 70px;

//Menu
$menuHeight: 70px;
